@use "../abstracts" as *;

/* -------------------------------------------------- */
/* ---------- Plateau de jeu ---------- */
/* -------------------------------------------------- */

.game {
    background-color: $blue;
    width: 100%;
    height: 100%;

    &-info {
        &-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 4rem;
        }
        &-back {
            color: $yellow;
        }
        &-center {
            &-score {
                color: $yellow;
            }
            &-mode {
                color: $white;
            }
        }
        &-clue {
            background-color: $yellow;
            border-radius: 50rem;
            width: 3.5rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &-text {
                color: $blue;
                font-size: 3rem;
                
            }
        }

    }
}