@use "../abstracts" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font-primary;
	font-size: 10px; // 1rem = 10px
	scroll-behavior: smooth;
}

body {
	background-color: $white;
	color: $black;
	overflow-x: hidden;
}

#site-content {
	position: relative;
	overflow: hidden;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;

	&:focus {
		background-color: $white;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: $black;
		display: block;
		font-size: 1.4rem;
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
}

ul {
	padding-left: 2rem;
}

input,
textarea {
	border-radius: 5px !important;
	border: 2px solid $black;
	padding: 1rem 2rem;
}

a {
	color: $blue;
}

.breadcrumbs {
	padding-top: 2rem;

	a {
		color: $black;
	}

	span {
		color: $blue;
	}
}

/* -------------------------------------------------- */
/* ---------- Formulaire Contact form 7 ---------- */
/* -------------------------------------------------- */
.cf7 {
	&-form {
		display: grid;
		gap: 2rem;
		max-width: 90rem;
		margin: 0 auto;

		// style pour les labels
		label {
			font-weight: 500;
			font-size: 1.4rem;

			span.required {
				color: $blue;
			}
		}

		input[type="submit"] {
			border: none;
			outline: none;
		}
	}

	// 2 colonnes égales pour les champs courts
	&-row {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		gap: 2rem;

		input[type="text"],
		input[type="email"],
		input[type="tel"] {
			width: 100%;
			padding: 1rem;
			font-size: 1.6rem;
			border: 1px solid $black;
			border-radius: 5px;
		}
	}

	// ligne entière pour les champs larges (email, message)
	&-full {
		input,
		textarea {
			width: 100%;
			padding: 1rem;
			font-size: 1.6rem;
			border: 1px solid $black;
			border-radius: 5px;
		}

		textarea {
			height: 20rem;
			resize: vertical;
		}
	}

	// petit texte d'information en bas
	&-note {
		font-size: 1.2rem;
		color: $black;

		span.required {
			color: $blue;
		}
	}

	&-required {
		color: $blue;
	}
}

.wpcf7-response-output {
	font-size: 1.6rem !important;
	padding: 1rem 2rem !important;
	margin: 0 auto;
	width: fit-content;
}

.section-inner {
	width: calc(100% - 2rem);
	margin: 0 auto;
}

@include responsive("md") {
	.section-inner {
		max-width: 748px;
	}
}

@include responsive("lg") {
	.cf7-row {
		grid-template-rows: 1fr;
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem;
	}

	.section-inner {
		max-width: 960px;
	}
}

@include responsive("xl") {
	.section-inner {
		max-width: 1300px;
	}
}
