@use "../abstracts" as *;

/* -------------------------------------------------- */
/* ---------- Style des boutons ---------- */
/* -------------------------------------------------- */

.button {
	padding: 1rem 2rem;
	color: $white;
	background-color: $black;
	font-size: 1.6rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border-radius: 7px;

	&-group {
		display: flex;
		gap: 2rem;
		align-items: center;
		justify-content: start;
	}

	&-primary {
		@extend .button;
		border: 1px solid $yellow;
		background-color: $yellow;
		color: $blue;

		&:hover {
			background-color: $blue;
			color: $yellow;
		}
	}

	&-secondary {
		@extend .button;
		border: 1px solid $yellow;
		background-color: $blue;
		color: $yellow;

		&:hover {
			background-color: $yellow;
			color: $blue;
		}
	}

	&-tertiary {
		@extend .button;
		background-color: transparent;
		padding: 0;
		text-decoration: underline;
		color: $white;
		border: none;

		&:hover {
			color: $yellow;
		}
	}
}

.link {
	font-size: 1.6rem;
	text-decoration: underline;
}