@use "../abstracts" as *;

/* -------------------------------------------------- */
/* ---------- Footer du site ---------- */
/* -------------------------------------------------- */

.footer {
	&-container {
		background-color: $blue;
		display: flex;
		flex-direction: column;
		gap: 2rem 15rem;
		color: $white;
		padding: 1.5rem 2rem 10rem;
		border-top: 2px solid $white;

		&-social {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&-logo {
				display: flex;
				justify-content: start;
				align-items: end;
				gap: 1.5rem;

				img {
					width: 7rem;
					margin-right: 0.5rem;
				}

				p {
					font-size: 3rem;
					font-family: $font-primary;
				}
			}
		}

		&-navigation,
		&-contact {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			h2 {
				font-size: 1.8rem;
			}

			ul {
				list-style: none;
				display: flex;
				flex-direction: column;
				gap: 1rem;

				a {
					color: $white;
					text-decoration: none;
				}
			}
		}
	}

	&-legal {
		color: $white;
		width: 100%;

		ul {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			justify-content: center;
			align-items: center;
			padding: 2rem;
			margin: 0;

			a {
				color: $blue;
				text-decoration: none;
				font-size: 1.4rem;
			}
		}
	}
}

@include responsive("lg") {
	.footer {
		&-container {
			flex-direction: row;
			padding: 4rem 8rem;

			&-social {
				gap: 2rem;

				&-logo {
					img {
						width: 9rem;
					}

					p {
						font-size: 4rem;
					}
				}
			}

			&-navigation,
			&-contact {
				h2 {
					font-size: 2rem;
				}
			}
		}

		&-legal {
			ul {
				flex-direction: row;
				justify-content: space-around;
			}
		}
	}
}
