@use "../abstracts" as *;

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select
{
    width: 100%;
    max-width: 40rem;
    background-color: $blue;
    padding: 0.5rem;
    border-radius: 4px;
    border: solid 2px $white;
    font-size: 1.6rem;
    color: $white;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $yellow;
    }
}