@use "../abstracts" as *;

/* -------------------------------------------------- */
/* ---------- Style de la timeline---------- */
/* -------------------------------------------------- */

.game-timeline {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;

	&-start {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;

		.droppable-zone {
			height: 60%;
			width: 15rem;
			width: 25rem;
			border: 3px dashed $yellow;
			border-radius: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $blue;

			&::after {
				content: "Déposez votre première carte ici";
				color: $yellow;
				font-size: 1.4rem;
				text-align: center;
				opacity: 0.7;
			}

			&:hover,
			&.drag-over {
				background-color: $blue;
				background-image: linear-gradient(
					rgba($yellow, 0.1),
					rgba($yellow, 0.1)
				);
				border-color: lighten($yellow, 10%);
			}

			&.drag-over {
				background-color: $blue;
				background-image: linear-gradient(
					rgba($yellow, 0.1),
					rgba($yellow, 0.2)
				);
				border-color: $yellow;
				border-style: solid;

				&::after {
					opacity: 1;
				}
			}

			.preview-card {
				opacity: 0.7;
				transform: scale(0.9);
				border: 2px dashed $yellow;
				border-radius: 8px;
				animation: pulse 1.5s infinite;

				.droppable-zone & {
					min-width: 15rem;
					max-width: 15rem;
				}
			}
		}
	}

	&-track {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		height: 100%;
		width: 100%;

		.droppable-zone {
			height: 20rem;
			width: 100%;
			min-width: 5rem;
			max-width: 5rem;
			border: 2px dashed $yellow;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease;
			background-color: $blue;

			&:hover,
			&.drag-over {
				background-color: $blue;
				background-image: linear-gradient(
					rgba($yellow, 0.1),
					rgba($yellow, 0.1)
				);
				border-color: lighten($yellow, 10%);
				min-width: 15rem;
				max-width: 15rem;
			}

			&.drag-over {
				background-color: $blue;
				background-image: linear-gradient(
					rgba($yellow, 0.1),
					rgba($yellow, 0.2)
				);
				border-color: $yellow;
				border-style: solid;
			}

			&:has(.preview-card) {
				min-width: 15rem;
				max-width: 15rem;
			}

			.preview-card {
				opacity: 0.75;
				animation: pulse 1.5s infinite;
			}
		}
	}

	&-segment {
		display: flex;
		align-items: center;
		gap: 1rem;
		height: 100%;
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 0.7;
	}
	50% {
		opacity: 0.9;
	}
}
